{% extends "base.html" %}
{% block title %}Colleges{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	{% for c in colleges %}
		{% set code = c.attrib['code'] %}
		<a href="/college?code={{code}}">
		<div class="tile double double-vertical bg-darkRed">
		    <div class="tile-content icon">
		        <i class="icon-lab"></i>
		    </div>
		    <div class="tile-status">
		        <span class="name">{{c.attrib['name']}}</span>
		    </div>
		</div>	
		</a>
	{% endfor %} 
{% endblock %}