{% extends "base.html" %}
{% block title %}{{college.attrib['name']}}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	{% for d in departments %}
		<a href="/department?code={{d.attrib['code']}}">
		<div class="tile double double-vertical bg-darkRed">
		    <div class="tile-content icon">
		        <i class="icon-lab"></i>
		    </div>
		    <div class="tile-status">
		        <span class="name">{{d.attrib['name']}}</span>
		    </div>
		</div>	
		</a>
	{% endfor %} 
{% endblock %}