{% extends "base.html" %}
{% block title %}{{course.title}}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<h1>{{course.heading()}}</h1>

<div class="accordion" data-role="accordion">
    <div class="accordion-frame active">
        <a href="#" class="heading bg-lightBlue fg-white">Course description</a>
        <div class="content"><p>{{course.description}}</p></div>
    </div>
</div>

<h2>Sections</h2>
<div class="tab-control" data-role="tab-control">
    <div class="accordion" data-role="accordion">
    {% for s in course.sections %}
        <div class="accordion-frame {% if loop.index == 1 %}active{% endif %}">
            <a href="#" class="heading">Section {{s.number}}</a>
            <div class="content">
                <span>{{s.num_enrolled}}/{{s.max_enroll}} enrolled</span>
                <div id="progress-bar" class="progress-bar" data-role="progress-bar" data-value="{{s.percent_enrolled}}"></div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}