{% extends "base.html" %}
{% block title %}{{department.attrib['name']}}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
	{% set dcode = department.attrib['code'] %}
	{% for c in courses %}
		{% set course_number = c.attrib['number'] %}
		<a href="/course?department_code={{dcode}}&course_number={{course_number}}">
		<div class="tile double double-vertical bg-darkRed">
		    <div class="tile-content icon">
		        <i class="icon-lab"></i>
		    </div>
		    <div class="tile-status">
		        <span class="name">{{c.attrib['title']}}</span>
		    </div>
		</div>	
		</a>
	{% endfor %} 
{% endblock %}